apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv
  labels:
    app: vpro-db
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: default
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /data/mysql
